h1 {
  color: #000;
}
p {
  Color: purple;
  line-height: 20px;
}
.important {
  color: rgb(163, 3, 3);
}
.white-background {
  background-color: white;
  color: black;
}

.black-background {
  background-color: black;
  color: white;
}

.btn {
  background-color: black;
  color: white;
  Padding: 5px;
}