h1 {
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
p {
  Color: purple;
  font-family: Arial, Helvetica, sans-serif;
}
ol {
  color: #000
  font-style: italic;
  font-size: 20px;
}